/* Estilos para el input de cantidad */
.form-control {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--accent-chocolate);
    color: var(--text-primary-color);
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.form-control:focus {
    background-color: var(--primary-bg-color);
    border-color: var(--accent-chocolate);
    color: var(--text-primary-color);
    box-shadow: none;
}

/* Botón del Buscador */
.btn.navbar-search-btn {
    font-size: 1.2rem;
    border-color: var(--accent-chocolate);
    color: var(--accent-chocolate);
    transition: all 0.3s ease;
}

.btn.navbar-search-btn:hover {
    background-color: var(--accent-chocolate);
    color: var(--primary-bg-color);
}

/* Botón del Carrito */
.btn.navbar-cart-btn {
    font-size: 1.2rem;
    border-color: var(--accent-chocolate);
    color: var(--accent-chocolate);
    transition: all 0.3s ease;
}

.btn.navbar-cart-btn:hover {
    background-color: var(--accent-chocolate);
    color: var(--primary-bg-color);
}

/* Botón del Usuario */
.btn.navbar-person-btn {
    font-size: 1.2rem;
    border-color: var(--accent-pink);
    color: var(--accent-pink);
    transition: all 0.3s ease;
}

.btn.navbar-person-btn:hover {
    background-color: var(--accent-pink);
    color: var(--primary-bg-color);
}

/* Boton Ver Productos */
.ver-productos-btn {
    background-color: var(--accent-pink);
    color: var(--text-primary-color);
    border: none;
    border-radius: 2rem;
}

.ver-productos-btn:hover {
    background-color: var(--accent-chocolate);
    color: var(--primary-bg-color);
}

/* Estado normal */
.btn.back-detail-btn {
  color: var(--accent-chocolate);
  border-color: var(--accent-chocolate);
  background-color: transparent;
}

/* Hover */
.back-detail-btn:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-chocolate);
  border-color: var(--accent-chocolate);
}