<!-- NAVBAR2 - Desktop - Categories and main navigation (centered) -->
<nav class="navbar navbar-expand-lg navbar-light navbar-bottom d-none d-lg-block">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/src/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/quienes-somos.html">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/src/pages/soporte.html">Soporte</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/src/pages/postres/individuales.html">Postres Individuales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/src/pages/tortas/cuadradas.html">Tortas Cuadradas</a></li>
                        <li><a class="dropdown-item" href="/src/pages/tortas/circulares.html">Tortas Circulares</a></li>
                        <li><a class="dropdown-item" href="/src/pages/tortas/especiales.html">Tortas Especiales</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/src/pages/productos/sin_azucar.html">Productos sin Azúcar</a></li>
                        <li><a class="dropdown-item" href="/src/pages/productos/sin_gluten.html">Productos sin Gluten</a></li>
                        <li><a class="dropdown-item" href="/src/pages/productos/veganos.html">Productos Veganos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/src/pages/pasteleria/tradicional.html">Pastelería Tradicional</a></li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>