/* main.css */
/* Variables globales y estilos base */
:root {
    /* Colores */
    --primary-bg-color: #FFF5E1; /* Crema Pastel */
    --accent-pink: #FFC0CB; /* Rosa Suave */
    --accent-chocolate: #8B4513; /* Chocolate */
    --text-primary-color: #5D4037; /* Marrón Oscuro */
    --text-secondary-color: #B0BEC5; /* Gris Claro */
    --white-color: #FFFFFF;
    --black-color: #000000;

    /* Fuentes */
    --font-primary: 'Lato', sans-serif;
    --font-heading: 'Pacifico', cursive;

    /* Sombras */
    --shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-medium: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/* Importación de componentes */
@import url('./components/header.css');
@import url('./components/navbar.css');
@import url('./components/footer.css');
@import url('./components/auth-modals.css');
@import url('./components/product-card.css');
@import url('./components/buttons.css');
@import url('./components/forms.css');
@import url('./components/content.css');
@import url('./components/products.css');
@import url('./components/media.css');
@import url('./components/admin.css');
@import url('./animations.css');

/* Estilos Generales */
body {
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-primary-color);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--accent-chocolate);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

a {
    color: var(--accent-chocolate);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-pink);
    text-decoration: underline;
}
